*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
    transition: 0.4s ease-in-out;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


h1{font-size: 40px;}
h2{font-size: 30px;}
h3{font-size: 25px;}
h4{font-size: 18px;}
a{font-size: 16px;}
p{font-size: 16px;}


:root{
    --blue: rgb(51, 51, 131);
}
img{
    width: 100%;
}
body{
    width: min(100%, 1500px);
    margin: auto;
    overflow-x: hidden;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: white;
    position: relative;
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 10px 0;
}
header .main-logs{
    display: flex;
    align-items: center;
    gap: 30px;
}
header .main-logs .link a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
header div img{
    width: 150px;
    background: transparent;
}
header .link{
    display: block;
    position: relative;
}
header .link::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--blue);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.4s ease-in-out;
}
header .link:hover::after{
    width: 100%;
}
header .link:hover a{
    color: var(--blue);
}
header .link ul{
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    list-style: none;
    position: absolute;
    top: 100%;
    width: 200px;
    padding: 10px;
    left: 0;
    background: var(--blue);
    background: white;
    transition: opacity 0.4s ease-in-out;
    z-index: 5;
}
header .link ul li a{
    color: var(--blue);
    text-decoration: none;
    margin: 10px 0;
    text-transform: capitalize;
    display: block;
}
header .link ul li a:hover{
    font-style: italic;
    
}
header .link:hover ul{
    opacity: 1;
    pointer-events: all;
}
header .menu a{
    color: white;
    text-decoration: none;
    margin: 15px 0;
    display: block;
    text-transform: uppercase;
    text-align: center;
}

header .openBtn{
    cursor: pointer;
}
header .openBtn div{
    width: 23px;
    height: 2px;
    background: var(--blue);
    border-radius: 5px;
    margin: 5px;
    transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}
header .openBtn.open div:first-child{
    transform: translateY(5px) rotate(45deg);
}
header .openBtn.open div:nth-child(2){
    opacity: 0;
}
header .openBtn.open div:last-child{
    transform: translateY(-8px) rotate(-45deg);
}
header .menu{
    background: black;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    padding: 15px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.4s ease-in-out;
    z-index: 10;
}
header.open .menu{
    pointer-events: all;
    opacity: 1;
}
header .menu p{
    color: white;
}
header .menu .link p{
    padding: 15px 0;
}

.reset{
    animation: reset 1s linear forwards;
}
@keyframes reset{
    to{
        transform: translate(0) scale(1);
        opacity: 1;
        pointer-events: all;
        visibility: visible;
        filter: blur(0) brightness(100%);
    }
}

.loading{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100vh;
    background: #0C0C0C;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.loading::after{
    content: "";
    width: 50px;
    height: 50px;
    border: 2px solid blue;
    border-top-color: red;
    border-radius: 50%;
    animation: loading 0.5s ease infinite;
}
@keyframes loading{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
.loading.fade{
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

/* FIRST SECTION */
main section:first-child .content{
    background-image: url('/static/images/chandos_workers_construction.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
}
main section:first-child .content .blur{
    color: white;
    width: 40%;
    min-height: 100vh;
    max-height: 80vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: blur(10px);
    padding: 0 30px;
    transform: translateX(100px);
    opacity: 0;
    animation-delay: 3s;
}
main section:first-child .content .blur *{
    width: 100%;
}
main section:first-child .content .blur h4{
    font-weight: 100;
    margin-bottom: 10px;
}
main section:first-child .content .blur h1{
    font-variant: small-caps;
    text-transform: capitalize;
    margin-bottom: 10px;
}
main section:first-child .content .blur p{
    line-height: 1.5;
    margin-bottom: 10px;
}
main section:first-child .content .blur .links{
    margin: 30px 0;
    gap: 10px;
    display: flex;
}
main section:first-child .content .blur .links a{
    text-decoration: none;
    color: white;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    width: fit-content;
}
main section:first-child .content .blur .links a:hover svg{
    fill: var(--blue);
}
main section:first-child .content .blur .links a svg{
    width: 40px;
    fill: white;
}
main section:first-child .content .blur .links a:first-child{
    border: 2px solid white;
    backdrop-filter: blur(100px);
    border-radius: 10px;
}
main section:first-child .content .blur .links a:first-child:hover{
    background: white;
    color: var(--blue);
}
main section:first-child .deter{
    margin: auto;
    background: rgb(236, 233, 233);
    padding: 30px;
    opacity: 0;
    h1{font-weight: 100; width: 80%; margin: auto; color: rgb(77, 76, 76);}
}


/* FIRST SECTION ANIMATIONS */
main section:first-child.reset .content{
    animation: reset 1s ease-in-out forwards;
}
main section:first-child.reset .content .blur{
    animation: reset 1s ease-in-out forwards;
    animation-delay: 2s;
}
main section:first-child.reset .deter{
    animation: reset 1s ease-in-out forwards;
    animation-delay: 3s;
}

/* SECOND SECTION */
main section:nth-child(2) .content{
    padding: 30px;
}
main section:nth-child(2) .content div img{
    width: 100%;
}
main section:nth-child(2) .content .cities{
    display: grid;
    grid-template-columns: repeat(3, 100%);
    gap: 20px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}
main section:nth-child(2) .content .cities .city div{
    overflow: hidden;
}
main section:nth-child(2) .content .cities .city{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    scroll-snap-align: center;
}
main section:nth-child(2) .content .cities .city img{
    transform: translateX(100px);
    opacity: 0;
}
main section:nth-child(2) .content .cities .city img:hover{
    transform: scale(1.3);
}
main section:nth-child(2) .content .cities .city .txt{
    padding: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100px);
    opacity: 0;
}
main section:nth-child(2) .content .cities .city .txt *{
    width: 100%;
}
main section:nth-child(2) .content .cities .city .txt h3{
    color: var(--blue);
    margin: 10px 0;
}
main section:nth-child(2) .content .cities .city .txt p{
    line-height: 1.5;
    margin-bottom: 10px;
}
main section:nth-child(2) .content .cities .city .txt h4{
    font-variant: small-caps;
    font-style: italic;
}
main section:nth-child(2) .resources{
    background-image: url('/static/images/cimtac_feature_view_day.webp');
    background-size: cover;
    background-position: center;
    min-height: 70vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10vh;
    border-radius: 20px;
    overflow: hidden;
    opacity: 0;
}
main section:nth-child(2) .resources div{
    background: var(--blue);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-shadow: 1px 1px 1px black;
}
main section:nth-child(2) .resources div h1,
main section:nth-child(2) .resources div h3{
    opacity: 0;
    transform: translateY(30px);
}
main section:nth-child(2) .resources div p{
    line-height: 1.5;
    margin: 10px auto;
    width: 70%;
    opacity: 0;
    transform: translateY(30px);
    text-align: center;
}
main section:nth-child(2) .resources div a{
    display: block;
    margin-top: 30px;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    width: fit-content;
    padding: 8px 28px;
    border-radius: 20px;
    opacity: 0;
    transform: translateY(30px);
    filter: blur(5px);
}
main section:nth-child(2) .resources div a:hover{
    background: white;
    color: var(--blue);
    cursor: pointer;
}
main section:nth-child(2) .partners{
    width: 70%;
    margin: 10vh auto;
    min-height: 60vh;
    
}
main section:nth-child(2) .partners h3{
    text-align: center;
    margin: 10px 0;
    transform: translateY(30px);
    opacity: 0;
}
main section:nth-child(2) .partners h1{
    text-align: center;
    color: var(--blue);
    margin: 10px 0 40px 0;
    transform: translateY(30px);
    opacity: 0;
}
main section:nth-child(2) .partners .images{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 50px;

    @media (width >= 30em){
        grid-template-columns: repeat(3, 1fr);
    }
    @media (width >= 60em){
        grid-template-columns: repeat(4, 1fr);
    }
    @media (width >= 80em){
        grid-template-columns: repeat(5, 1fr);
    }    
}
main section:nth-child(2) .partners .images img{
    width: 100px;
    display: block;
    margin: auto;
    transform: translateY(30px);
    opacity: 0;
}

/* SECOND ANIMATIONS */
main section:nth-child(2).reset .content .cities .city img{
    animation: reset 1s ease-in-out forwards;
}
main section:nth-child(2).reset .content .cities .city .txt{
    animation: reset 1s ease-in-out forwards;
    animation-delay: 2s;
}
main section:nth-child(2).reset .resources{
    animation: reset 1s ease-in-out forwards;
    animation-delay: 3s;
}
main section:nth-child(2).reset .resources div h1{
    animation: reset 1s ease-in-out forwards;
    animation-delay: 4s;
}
main section:nth-child(2).reset .resources div h3{
    animation: reset 1s ease-in-out forwards;
    animation-delay: 5s;
}
main section:nth-child(2).reset .resources div p{
    animation: reset 1s ease-in-out forwards;
    animation-delay: 6s;
}
main section:nth-child(2).reset .resources div a{
    animation: reset 1s ease-in-out forwards;
    animation-delay: 7s;
}
main section:nth-child(2).reset .partners h3{
    animation: reset 1s ease-in-out forwards;
    animation-delay: 8s;
}
main section:nth-child(2).reset .partners h1{
    animation: reset 1s ease-in-out forwards;
    animation-delay: 9s;
}
main section:nth-child(2).reset .partners .images img:first-child{
    animation: reset 1s ease-in-out forwards;
    animation-delay: 10s;
}
main section:nth-child(2).reset .partners .images img:nth-child(2){
    animation: reset 1s ease-in-out forwards;
    animation-delay: 10.5s;
}
main section:nth-child(2).reset .partners .images img:nth-child(3){
    animation: reset 1s ease-in-out forwards;
    animation-delay: 11s;
}
main section:nth-child(2).reset .partners .images img:nth-child(4){
    animation: reset 1s ease-in-out forwards;
    animation-delay: 11.5s;
}
main section:nth-child(2).reset .partners .images img:nth-child(5){
    animation: reset 1s ease-in-out forwards;
    animation-delay: 12s;
}
main section:nth-child(2).reset .partners .images img:nth-child(6){
    animation: reset 1s ease-in-out forwards;
    animation-delay: 12.5s;
}
main section:nth-child(2).reset .partners .images img:nth-child(7){
    animation: reset 1s ease-in-out forwards;
    animation-delay: 13s;
}
main section:nth-child(2).reset .partners .images img:nth-child(8){
    animation: reset 1s ease-in-out forwards;
    animation-delay: 13.5s;
}
main section:nth-child(2).reset .partners .images img:nth-child(9){
    animation: reset 1s ease-in-out forwards;
    animation-delay: 14s;
}
main section:nth-child(2).reset .partners .images img:last-child{
    animation: reset 1s ease-in-out forwards;
    animation-delay: 14.5s;
}



footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 40vh;
    background-image: url('/static/images/pexels-sevenstormphotography-439416.jpg');
    background-size: cover;
    background-position: center;
    padding: 20px;
    backdrop-filter: brightness(50%);
}
footer .content{
    padding: 20px;
    color: white;
    backdrop-filter: blur(5px) brightness(50%) ;
    border-radius: 5px;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;


    @media (width >= 30em){
        grid-template-columns: repeat(2, 1fr);
    }
    @media (width >= 60em){
        grid-template-columns: repeat(4, 1fr);
    }
}
footer .content section h3{
    display: flex;
    align-items: center;
    gap: 10px;
    font-variant: small-caps;
    margin: 20px 0;
}
footer .content section h3 img{
    width: 60px;
}
footer .content section a{
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    margin: 10px 0;
}
footer .content section a:hover{
    color: var(--blue);
}
footer .content section .socials{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
footer .content section .socials svg{
    width: 30px;
    padding: 5px;
    background: white;
    border-radius: 50%;
}
footer .content section .socials svg:hover{
    fill: var(--blue);
}
footer .content section:last-child a#news{
    padding: 8px 20px;
    display: block;
    margin-top: 20px;
    width: fit-content;
    background: var(--blue);
}
footer .content section:last-child a#news:hover{
    color: white;
    border-radius: 20px;
}

@media screen and (max-width: 900px) {
    h1{font-size: 25px;}
    h2{font-size: 22px;}
    h3{font-size: 20px;}
    h4{font-size: 17px;}
    a{font-size: 14px;}
    p{font-size: 17px;}  
    
    
    .loading::after{
        width: 30px;
        height: 30px;
    }
    header .main-logs{
        display: none;
    }
    header div img{
        width: 80px;
    }

    /* FIRST */
    main section:first-child .content{
        background-attachment: scroll;
    }
    main section:first-child .content .blur{
        width: 100%;
        backdrop-filter: blur(3px);
    }
    main section:first-child .content .blur .links a{
        padding: 0px 10px;
    }
    main section:first-child .deter{
        padding: 40px 20px;
        h1{text-align: center;}
    }

    /* SECOND */
    main section:nth-child(2) .content .cities .city{
        grid-template-columns: 1fr;
    }
    main section:nth-child(2) .resources{
        grid-template-columns: 1fr;
    }
    main section:nth-child(2) .partners .images{
        grid-template-columns: repeat(2, 1fr);
    }

    /* FOOTER */
    footer .content{
        grid-template-columns: 1fr;
        width: 100%;
    }
    footer .content section a{
        width: fit-content;
        margin: 10px auto;

        /* border: 2px solid red; */
    }
    footer .content section h3{
        width: fit-content;
        margin: 20px auto;
    }
    footer .content section .socials{
        /* border: 2px solid red; */
        width: fit-content;
        margin: 20px auto;
    }
}

@media screen and (min-width: 900px) {
    header .openBtn, header .menu{
        display: none;
    }    
}