{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/images/55bfcb0d-39d7-42d8-81ec-13623a872d89_small-removebg-preview.png">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>Chandos Construction | A Company Innovating The Construction Industry | Chandos ...</title>
</head>
<body>
    <header>
        <div>
            <img src="/static/images/Chandos_Construction_Ltd__Chandos_Construction_Commits_to_Net_Ze-removebg-preview.png" alt="">
        </div>

        <div class="main-logs">
            <div class="link">
                <p>who we are</p>

                <ul>
                    <li><a href="#">overview</a></li>
                    <li><a href="#">our story</a></li>
                    <li><a href="#">our purpose</a></li>
                    <li><a href="#">B corp certification</a></li>
                    <li><a href="#">Meet the team</a></li>
                </ul>
            </div>
            <div class="link">
                <p>what we do</p>

                <ul>
                    <li><a href="#">overview</a></li>
                    <li><a href="#">advisory & pre-construction</a></li>
                    <li><a href="#">general contracting</a></li>
                    <li><a href="#">integrated project delivery</a></li>
                    <li><a href="#">progressive design build</a></li>
                    <li><a href="#">construction management</a></li>
                    <li><a href="#">design build</a></li>
                </ul>
            </div>
            <div class="link">
                <p>how we build</p>

                <ul>
                    <li><a href="#">overview</a></li>
                    <li><a href="#">virtual design & construction</a></li>
                    <li><a href="#">sustainability</a></li>
                    <li><a href="#">health and safety</a></li>
                    <li><a href="#">lean construction</a></li>
                    <li><a href="#">social procurement</a></li>
                    <li><a href="#">inclusive hiring</a></li>
                    <li><a href="#">indigenous partnerships</a></li>
                    <li><a href="#">collaborative construction</a></li>
                    <li><a href="#">national special services</a></li>
                    <li><a href="#">civil construction</a></li>
                </ul>
            </div>
            <div class="link">
                <p>our projects</p>
            </div>
            <div class="link">
                <p>our blog</p>
            </div>
        </div>

        <div class="openBtn">
            <div></div>
            <div></div>
            <div></div>
        </div>

        <div class="menu">
            <div class="link">
                <p>who we are</p>

                <ul>
                    <li><a href="#">overview</a></li>
                    <li><a href="#">our story</a></li>
                    <li><a href="#">our purpose</a></li>
                    <li><a href="#">B corp certification</a></li>
                    <li><a href="#">Meet the team</a></li>
                </ul>
            </div>
            <div class="link">
                <p>what we do</p>

                <ul>
                    <li><a href="#">overview</a></li>
                    <li><a href="#">advisory & pre-construction</a></li>
                    <li><a href="#">general contracting</a></li>
                    <li><a href="#">integrated project delivery</a></li>
                    <li><a href="#">progressive design build</a></li>
                    <li><a href="#">construction management</a></li>
                    <li><a href="#">design build</a></li>
                </ul>
            </div>
            <div class="link">
                <p>how we build</p>

                <ul>
                    <li><a href="#">overview</a></li>
                    <li><a href="#">virtual design & construction</a></li>
                    <li><a href="#">sustainability</a></li>
                    <li><a href="#">health and safety</a></li>
                    <li><a href="#">lean construction</a></li>
                    <li><a href="#">social procurement</a></li>
                    <li><a href="#">inclusive hiring</a></li>
                    <li><a href="#">indigenous partnerships</a></li>
                    <li><a href="#">collaborative construction</a></li>
                    <li><a href="#">national special services</a></li>
                    <li><a href="#">civil construction</a></li>
                </ul>
            </div>
            <div class="link">
                <p>our projects</p>
            </div>
            <div class="link">
                <p>our blog</p>
            </div>
        </div>

    </header>

    <main>
        <section>
            <div class="content">
                <div class="blur">
                    <h4>Chandos Construction</h4>
                    <h1>Raising the bar then going beyond it.</h1>
                    <p>Chandos Construction is a privately held commercial contractor. From our 16 offices across the United States, we deliver predictability in an industry that’s anything but predictable. Ready to join us? </p>

                    <div class="links">
                        <a href="#">WHAT WE BUILD</a>
                        <a href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><path d="M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192 192-86 192-192z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/><path d="M216.32 334.44l114.45-69.14a10.89 10.89 0 000-18.6l-114.45-69.14a10.78 10.78 0 00-16.32 9.31v138.26a10.78 10.78 0 0016.32 9.31z"/></svg>
                            The Chandos Way
                        </a>
                    </div>
                </div>
            </div>

            <div class="deter">
                <h1>No matter the project, no matter the task, Chandos shows up ready to perform. We won’t ask for your trust—we’ll earn it. </h1>
            </div>
        </section>

        <section>
            <div class="content">
                <div class="cards">
                    <div class="card">

                    </div>
                </div>
            </div>
        </section>
    </main>
<script src="/static/app.js" defer></script>
</body>
</html>